@charset "utf-8";

.container{ max-width: 1200px; margin: 0 auto; width: 100%;}
/* 新闻动态 */
.newspage{ padding: 70px 0;}
.newscont{ display: flex; }
.news-left{ width: 260px; flex-shrink: 0;}
.news-right{  flex-grow: 1; padding-left: 40px; overflow: hidden;}
.news-left h3{ max-width: 262px; height: 130px;	 font-size: 30px; font-weight: bold; color: #4c4948; text-align: center; line-height: 130px;}
.news-left li{ cursor: pointer; transition: all 0.6s;  text-align: center; font-size: 20px;}
.news-left li i{ display: inline-block; width: 6px;	height: 6px; background-color: #0d2ba3; border-radius: 100%; margin-left: 10px;}
.news-left li a{ color: #4c4948; font-size: 18px; transition: all 0.6s; padding:15px 0;  display: block; }
.news-left li.on a{ color: #ffffff; font-weight: bold; background: #0d2ba3;}
/*.news-left li.on a, .news-left li:hover a{ color: #ffffff; display: block; font-weight: bold; background: #0d2ba3;}*/
.news-left li a:hover{background: #0d2ba3;color: #ffffff; font-weight: bold;}


.news-right li{ margin-bottom: 40px; background: #F5F5F5;  transition: all 0.6s;  }

.news-right .t1 h3{ height: 130px;	line-height: 130px; font-size: 30px; font-weight: bold; color: #0545a7; margin-bottom: 15px;}
.news-right li a{ display: flex; align-items: center; }
.news-right li figcaption{ flex-grow: 1; padding: 10px 20px; box-sizing: border-box; display: flex; justify-content: space-between; flex-direction: column; overflow: hidden;}
.news-right li figure{width: 237px;	height: 136px; flex-shrink: 0;}
.news-right li figure img{ display: block; width: 100%; height: 100%; object-fit: cover;}
.news-right li h4{ font-size: 18px; color: #4c4948; margin-bottom: 30px; line-height: 1.3;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.news-right li p{ font-size: 12px; color: #9fa0a0; line-height: 24px;  height: 48px; overflow: hidden; text-overflow: ellipsis;
display: -webkit-box; -webkit-box-orient:  vertical; -webkit-line-clamp: 2;}
.news-right li h5{ font-size: 12px; color: #9fa0a0; text-align: right;}

.news-right li:hover h4{ color: #0d2ba3; }
.news-right li .date{background: #0545a7;margin-right: 10px;	height: 136px; color: #ffffff; text-align: center; padding:30px 15px; box-sizing: border-box;}
.news-right li .date h3{font-size: 40px; font-family: arial; color: #ffffff;}
.news-right li .date p{font-size: 12px; font-family: arial; color: #ffffff;}

.fenye{ display: flex; justify-content: center; padding-top: 50px;}
.fenye span,.fenye a{ display: block; border:1px solid #a0a0a0; height: 34px; padding: 0 20px; line-height: 32px; margin: 0 5px;
cursor: pointer; color: #9fa0a0; font-size: 14px; transition: all 0.6s;}
.fenye a{ background: #fff; padding: 0 10px;}
.fenye span:hover,.fenye a:hover,.fenye a.on{ background: #0d2ba3; color: #fff;}


/* AI平台建设解决方案 */
.cpts-section .ul3{ justify-content: center;}
.neibanner .item-text2{ max-width: 600px; float: right;}


/* 交通业务部 */
.cpts-section .ul4{ justify-content: center;}
.cpts-section .ul4 li{  width: calc( 100%/2 - 16px); max-width: 450px;}


/* 关于我们 */
.about-sec1{ padding: 70px 0; position: relative;}
.about-sec1 .a1 img,.about-sec1 .a2 img{ display: block; height: auto; max-width: 100%;}
.about-sec1 .a2{ position: absolute; top: 0; right: 0; z-index: -1; }
.about-sec1 .a1{ position: absolute; bottom: -5px; left: 0; z-index: -1;}
.about-sec1 .sec1-cont{ display: flex; justify-content: space-between; margin-top: 50px;}
.about-sec1 .sec1-cont img{ display: block; width: 100%; height: 300px; object-fit: cover; transition: all 1s;}
.about-sec1 .sec1-cont img:hover{ border-radius: 0 50px 0 50px ;}
.about-sec1 .left{ max-width: 545px; flex-grow: 1;}
.about-sec1 .left p{ color: #595757; font-size: 16px; line-height: 36px;}
.about-sec1 .right{ padding-left: 55px;}


.about-sec2{ background: url(../images/aboutbg2.png) no-repeat top center; background-size: cover; padding: 70px 0;}
.about-sec2 .title h3{ color: #fff; line-height: 1.5;}
.about-sec2 .title{ background-image: url(../images/titbg3.png);}
.about-sec2 .sec2-cont{ display: flex; justify-content: space-between; margin-top: 50px;}
.about-sec2 .sec2-cont img{ display: block; width: 100%; height: 358px; object-fit: cover; transition: all 1s;}
.about-sec2 .sec2-cont img:hover{ border-radius: 50px 0 50px 0 ;}

.about-sec2 .right{ max-width: 600px; flex-grow: 1; margin-left: 30px;}
.about-sec2 .right p{ color: #fff; font-size: 16px; line-height: 36px; margin-bottom: 20px;}



.about-box3{ background: #F5F5F5; padding: 70px 0; }
.about-box3 .container{ position: relative;}
.about-team{margin-top: 50px;}

.about-team .div1{ position: absolute; left:0; right: 0; bottom:0; background: rgba(6,32,140,0); padding:0 25px;
 transition: all 1s;  overflow: hidden; }
.about-team figcaption{ position: absolute; left:0; right: 0; bottom:0; background: rgba(6,32,140,0); padding:50px 13%;
 transition: all 1s; overflow: hidden; top: 0; opacity: 0;}
 
.about-team .swiper-slide a{ display: block; position: relative;}
.about-team h3{ color: #fff; font-size: 24px; text-align: left; padding-bottom: 10px; transition: all 0.36s; font-weight: bold;}
.about-team h5{  color: #fff; font-size: 16px; text-align: left; padding-bottom: 30px;  font-weight: normal; transition: all 0.36s;}
.about-team .p1{  color: #fff; font-size: 15px; text-align: left; font-weight: normal;  transition: all 0.36s; opacity: 0;
display: -webkit-box; height:300px; line-height: 30px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical;
-webkit-line-clamp: 10;}
.about-team .swiper-slide {text-align: center;font-size: 18px;transform: scale(0.8); overflow: hidden; transition: all 0.6s;}
.about-team .swiper-slide-active,.swiper-slide-duplicate-active{transform: scale(1);}
.about-team .swiper-slide:hover figcaption{ background: rgba(6,32,140,0.8);  opacity: 1;}
.about-team .swiper-slide:hover .p1{ opacity: 1;}
.about-team .swiper-slide:hover .div1{ opacity: 0;}
.about-team .swiper-slide img{ display: block; width: 100%; height: auto;}
.about-box3 .swiper-button-next{ bottom: 0% !important; top: 55%; right:-5%;  background-size: 100% 100% !important; left: auto;
color: #fff; background:url(../images/next1.png) no-repeat center; height: 50px; width: 50px; display: block; outline: none;}
.about-box3 .swiper-button-prev{ bottom: 0% !important;top: 55%; left: -5%;  background-size: 100% 100% !important; right: auto;
color: #fff; background:url(../images/prev1.png) no-repeat center; height: 50px; width: 50px; outline: none;}

.about-box4{  padding: 70px 0; }
.about-box4 .container{ position: relative; margin-top: 50px;}
.about-time a{ display: block; }
.about-time strong{ display: block; color: #000; font-size: 36px;  text-align: center;
border-bottom: 1px solid #000; padding-bottom: 30px; margin-bottom: 30px; position: relative; font-weight: bolder;}
.about-time .div2{ font-size: 14px; color: #3e3a39; display: flex;  padding: 0 20px; align-content: center; justify-content: flex-start;
align-self: center; margin: 10px 0; align-items: flex-start;}
.about-time .div2 span{ display: inline-block; line-height: 24px; flex: 1; padding-left: 10px; font-size: 14px;overflow: hidden;}
.about-time .div2 i{ display:inline-block; height: 10px; width: 10px; border-radius: 100%; border:1px solid #595757; align-self: flex-start; margin-top:8px;}
.about-time .line{ position: absolute; bottom: -8px; left: 50%; transform: translateX(-50%,-50%); height: 16px; width: 16px; background: #fff;
border-radius: 100%; border:1px solid #3e3a39;transition: all 0.6s;}
.about-time .line .cir{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); height: 8px; width: 8px; background: #3e3a39; border-radius: 100%;
transition: all 0.6s; opacity: 0;}
.about-time .swiper-slide:hover .cir{ opacity: 1;}
.about-time .swiper-slide:hover .div2 span{ color: #0d2ba3;}
.about-time .swiper-slide:hover .div2 i{ border-color: #0d2ba3;}
.about-time .swiper-slide:hover strong{ color: #0D2BA2;}
.about-time .swiper-pagination{ display: none;}
.swiper-pagination-bullet-active{ background: #0d2ba3;}
.about-box4 .swiper-button-next1{ top: 55%; right:-5%;  background-size: 100% 100%; left: auto; position: absolute;
color: #fff; background:url(../images/next2.png) no-repeat center; height: 29px; width: 23px; display: block; outline: none; cursor: pointer;}
.about-box4 .swiper-button-prev1{ top: 55%; left: -5%;  background-size: 100% 100%; right: auto; position: absolute;
color: #fff; background:url(../images/prev2.png) no-repeat center; height: 29px; width: 23px; outline: none; cursor: pointer;}



/* 核心技术 */
.hexin-box1{ background: #f5f5f5; padding: 70px 0;}
.hexin-box1 strong{ display: block; color: #0d2ba3;	font-size: 50px; font-weight: bold; text-align: center; padding: 30px 0;}
.hexin-box1 ul{ display: flex; justify-content: space-between; margin-top: 50px;}
.hexin-box1 ul li{ width: 33.33%; border-right: 1px solid #a0a0a0; transition: all 0.6s;}
.hexin-box1 ul li:last-child{ border-right: none;}
.hexin-box1 li img{ display: block; margin: 0 auto;}
.hexin-box1 li p{ 	color: #595757; font-size: 22px; text-align: center; font-weight: lighter;}
.hexin-box1 ul li:hover{ transform: translateY(10px);}

.hexin-box2 {  padding: 70px 0}
.hexin-box2 ul{ display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 50px;}
.hexin-box2 ul li{ width:49%; border:1px solid #E0E0E0; padding: 50px 80px; margin-bottom: 20px; transition: all 0.6s;}
.hexin-box2 li a{ display: flex; justify-content: space-between; align-items: center;}
.hexin-box2 li h3{ color: #595757; font-size: 24px; padding-bottom: 25px; transition: all 0.6s;}
.hexin-box2 li p{ font-size: 14px; color: #666;}
.hexin-box2 li span{ display: block;  background: url(../images/hxjsi-01.png) no-repeat 0 0; width: 65px; height: 56px; transition: all 0.6s;}
.hexin-box2 li:hover span{ background-position: right top;}
.hexin-box2 li:nth-child(1) span{ background-image: url(../images/hxjsi-01.png); }
.hexin-box2 li:nth-child(2) span{ background-image: url(../images/hxjsi-02.png);  height: 65px;}
.hexin-box2 li:nth-child(3) span{ background-image: url(../images/hxjsi-03.png); width: 69px;}
.hexin-box2 li:nth-child(4) span{ background-image: url(../images/hxjsi-04.png);  width: 55px;}
.hexin-box2 li:hover h3{ color: #0d2ba3;}
.hexin-box2 li:hover{ background: #F5F5F5;}
.hexin-box2 li:hover p{ color: #0d2ba3;}

.hexin-box2 .getmore{ display: block; margin: 0 auto; text-align: center; width: 139px;	height: 41px;	background-color: #efefef;	border-radius: 20px; line-height: 41px; margin-top: 30px; transition: all 0.6s;}
.hexin-box2 .getmore img{ display: inline-block; vertical-align: middle;}
.hexin-box2 .getmore:hover{ transform: translateX(5px); box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);}


/* 加入我们 */
.neibanner .item-text6 { left: 0; }
.neibanner .item-text6 h3{font-weight: lighter; letter-spacing: 5px;}
.neibanner .item-text6 h3 b{ font-weight: bold;}
.neibanner .item-text6 .div1{ margin-top: 30px;}
.neibanner .item-text6 a{ display: inline-block; background: url(../images/a-bg.png) no-repeat top center; background-size: 100% auto; font-size: 20px; color: #fff; width: 157px; line-height: 51px; height: 51px; margin: 20px 20px 20px 0; transition: all 0.6s; text-align: center; font-weight: lighter;}
.neibanner .item-text6  a:nth-child(2){ background-image: url(../images/a-bg2.png);}
.neibanner .item-text6  a:hover{ transform: translateY(5px);}


 .join-box1{ padding: 70px 0;}
.join-box1tu{ padding: 50px 0; margin-top: 50px;}
.join-box1tu .swiper-slide {transform-origin: center;-webkit-transition: transform 1.0s;-moz-transition: transform 1.0s;-ms-transition: transform 1.0s;-o-transition: transform 1.0s;-webkit-transform: scale(1);transform: scale(1);
 z-index: 33;}
 .join-box1tu .swiper-slide p{ color: #333; font-size: 20px; text-align: center; padding: 10px 0; font-weight: lighter;}
 .join-box1tu figure{ position: relative;}
.join-box1tu .swiper-slide .maskbg{ position: absolute; top: 0; left:0; right: 0; bottom: 0; background: rgba(0,0,0,0.4); display: block;}
.join-box1tu .swiper-slide  img{ display: block; max-width: 100%;}
.join-box1tu .swiper-slide-active {-webkit-transition: transform 1.0s;-moz-transition: transform 1.0s;-ms-transition: transform 1.0s;-o-transition: transform 1.0s;-webkit-transform: scale(1.2);transform: scale(1.2);z-index: 333;}
.join-box1tu .swiper-slide-active  .maskbg{ opacity: 0;}
.join-box1tu .swiper-slide-active p{ color: #0d2ba3; }
.join-box1tu .swiper-slide-prev p{ text-align: right; padding-right: 15%;}
.join-box1tu .swiper-slide-next p{ text-align: left; padding-left: 15%;}
.join-box1tu .swiper-button-prev{ background: none; background: url(../images/prev.png); background-size: 100% 100%; height: 50px; width: 50px; left:10%; z-index: 333;}
.join-box1tu .swiper-button-next{ background: none; background: url(../images/next.png); background-size: 100% 100%; height: 50px; width: 50px;
right: 10%; z-index: 333;}

.join-box2{ background: url(../images/aboutbgg2.png) no-repeat top center; background-size: cover; padding: 70px 0;}
.join-box2 ul{ display: flex; justify-content: space-between; padding-top: 50px; padding-bottom: 30px;}
.join-box2 .title h3,.join-box2 .title p{ color: #fff;}
.join-box2 li{ width: 20%; transition: all 0.6s;}
.join-box2 li a{ display: block; padding: 0 10px; transition: all 0.6s;}
.join-box2 li p{ color: #fff; 	font-size: 20px;  text-align: center; line-height: 1.7; margin-top: 20px;}
.join-box2 li img{ display: block; margin: 0 auto; transition: all 0.6s; max-width: 100%; height: auto;}
.join-box2 li a:hover{ transform: translateY(15px);}

.join-box3{  padding: 70px 0;}
.join-cont{ display: flex; justify-content: space-between; margin-top: 50px;}
.join-left{ max-width: 900px; flex: 1;  position: relative;}
.join-left-top{ background: #fff; padding: 30px;}
.join-right{  max-width: 280px; flex: 1;}
.join-right-cont{ background: #fff; padding: 30px;}
.join-title{ display: flex; align-items: center; justify-content: space-between;}
.join-title h3{ color: #0d2ba3; font-size: 16px;}
.join-title img{ display: inline-block; vertical-align: middle;}
.join-title p{ color: #9fa0a0; font-size: 14px;}
.share-btn{ cursor: pointer;}
.share-div span{ display: inline-block; height: 31px; width: 31px; background:url(../images/social.png) no-repeat; margin-right: 10px;}
.share-div{  position: absolute; top:-40px; right: 0; display: none; }
.weixinwrap:hover .code-div{ display: block;}
.share-div .weixin1{ background-position: -19px -88px; }
.share-div .douban{ background-position: -130px -151px; }
.share-div .qq{ background-position: -19px -19px; }
.share-div .weibo{ background-position: -130px -88px;}
.code-div1 img{ display: block; width: 100px; height: 100px;}
.code-div1{ position: absolute; top: -120px; display: none;}

.join-sousuo{ margin-top: 20px; display: flex;}
.join-sousuo .in{ height: 36px; border:1px solid #E0E0E0; flex: 1; padding-left: 10px;}
.join-sousuo .sub{ background: #0d2ba3; width: 100px; color: #fff; font-size: 14px;}
.join-job select{ height: 36px; border:1px solid #E0E0E0; width: 49%; padding-left: 5px;}
.join-job{ margin-top: 15px; justify-content: space-between; display: flex;}
.join-left-bottom{ background: #fff; padding:10px 30px 30px 30px;}
.join-left-bottom li { border-bottom: 1px solid #F5F5F5; padding-bottom: 20px; margin-bottom: 20px; transition: all 0.6s;}
.join-left-bottom li h3{ color: #0d2ba3; font-size: 16px;}
.join-left-bottom li i{ display: inline-block; background: url(../images/ji.png) no-repeat top center; width: 20px; height: 19px; vertical-align: middle;
margin-left: 20px;}
.join-left-bottom li h4{ color: #9fa0a0; font-size: 14px; padding: 15px 0;}
.join-left-bottom li div{ display: flex; justify-content: space-between;}
.join-left-bottom li p{ color: #9fa0a0; font-size: 14px; }
.join-left-bottom li:hover{ transform: translateX(10px);}
.join-left-bottom li:last-child{ border-bottom: none;}
.join-right-title { display: flex; justify-content: space-between; margin-bottom: 40px;}
.join-right-title h3{ color: #0d2ba3; font-size: 16px;}
.join-right-title a{ color: #9fa0a0; font-size: 14px;}
.join-right-cont li a{ display: flex; justify-content: space-between; padding-bottom: 25px; transition: all 0.6s;}
.join-right-cont li p{ color: #4c4948; font-size: 14px;}
.join-right-cont li i{ background: url(../images/ji.png) no-repeat center; width: 20px; height: 19px; background-size: 100% 100%; display: block;}
.join-right-cont li:hover p{ color: #0d2ba3;}
.join-right-cont li:hover a{ transform: translateX(10px);}

.join-left .fenye{ display: flex; justify-content: center; padding-top: 10px;}
.join-left .fenye .span,.fenye a{ display: block; border:1px solid #a0a0a0; height: 34px; padding: 0 20px; line-height: 34px; margin: 0 5px;
cursor: pointer; color: #9fa0a0; font-size: 14px; transition: all 0.6s;}
.fenye a{ background: #fff; padding: 0 10px;}
.fenye .span:hover,.join-left .fenye a:hover{ background: #0d2ba3; color: #fff;}

/*招聘详情*/
.join-left-detail{ margin-top: 0;}
.join-left-detail .p1{ font-size: 16px; padding: 10px 0 ;  color: #666; line-height: 36px; }
.fabu-time{ font-size: 16px; color: #333;}
.fabu-tit{ font-size: 20px; padding: 10px 0;font-weight:bold;}
.fabu-tit i{ display: inline-block; vertical-align: middle; background: url(../images/ji.png) no-repeat top center; height: 20px; width: 20px;}
.join-h2{ font-size: 16px; color: #000; display: flex; align-items: center;}
.join-h2 b{ display: block; flex: 1; height: 1px; background: #F5F5F5;}
.join-h2 span{ display: block; padding-right: 10px;font-weight:bold;}
.join-left-detail .div1{ padding-top: 20px;}
.join-left-detail .div1 p{ line-height: 34px; font-size: 14px; color: #333;}
.join-left-detail .backlist{ display: block;  background: #333; color: #fff; height: 50px; line-height: 50px; text-align: center;
font-size: 14px; margin: 20px 0;}
.join-left h6{padding:5px 10px;font-size:14px;}

/*新闻详情*/
.detailpage .det-tit h3{ font-weight: bold; color: #000; font-size: 24px; text-align: center; line-height: 1.3;}
.detailpage .det-tit .div1{ display: flex; justify-content: center; padding: 20px 0; border-bottom: 1px solid #F5F5F5;
	margin-bottom: 20px;}
.detailpage .det-tit span{ color: #666; font-size: 14px; display: block; padding: 0 15px;}
.detailpage .de-text img{ display: block;  margin: 10px auto;}
.detailpage .de-text p{  color: #000; line-height:28px;}

.fenpian{ display: flex; display: -webkit-flex; border:1px solid #F5F5F5; padding: 20px 0; border-left: none; border-right: none; margin: 50px 0;
	justify-content: space-between;}
.fenpian i{ display: block; color: #000; font-size: 14px; margin-bottom: 10px;}
.fenpian a{ display: block; color: #555; font-size: 14px;}
.fenxi-pt35{position:relative;padding-top:35px;}
.dutyWish_con{}
.dutyWish{
margin-left: -10px;
margin-right: -10px;
display: flex;
}
.dutyWish_common{
    width: 50%;
    padding: 0 10px;
    position: relative;
}
.dutyWish_common>p:nth-child(1){
    overflow: hidden;
}
.dutyWish_common>p:nth-child(1) img{
   float: left;
   width: 100%;
}
 .dutyWish_common>div:nth-child(2){
       width: 86%;
    margin: auto;
    position: relative;
    bottom: 60px;
    background: #fff;
    box-shadow: 2px 0 5px rgb(220 220 220);
    box-shadow: 0 2px 5px rgb(220 220 220);
    box-shadow: -2px 0 5px rgb(220 220 220);
    padding: 15px 50px;
    height: 160px;
    left: -0.5%;
    text-align: center;
}
 .dutyWish_left>div:nth-child(2)>p:nth-child(1){
     color: rgb(62,58,57);
     font-weight: bold;
     margin-bottom: 10px;
         font-size: 18px;
    letter-spacing: 1px;
 }
 .dutyWish_left>div:nth-child(2)>p:nth-child(2){
     color: rgb(62,58,57);
         font-size: 16px;
         letter-spacing: 1px;
 }
  .dutyWish_right>div:nth-child(2)>p:nth-child(1){
     color: rgb(5,69,167);
     font-weight: bold;
     margin-bottom: 10px;
         font-size: 18px;
    letter-spacing: 1px;
 }
 .dutyWish_right>div:nth-child(2)>p:nth-child(2){
      color: rgb(5,69,167);
      margin-bottom: 3px;
      letter-spacing: 1px;
         font-size: 16px;
 }
.dutyWish_right>div:nth-child(2)>p:nth-child(3){
      color: rgb(5,69,167);
      letter-spacing: 1px;
         font-size: 16px;
 }
 .dutyWish_right>div:nth-child(2)>p:nth-child(4){
      color: rgb(5,69,167);
      margin-bottom: 3px;
      letter-spacing: 1px;
         font-size: 16px;
 }
 .dutyWish_pic,.dutyWish_word{
     transition: all 0.6s;
     cursor: pointer;
 }
 .dutyWish_pic img{
     transition: all 0.8s;
     cursor: pointer;
 }
 .dutyWish_common:hover .dutyWish_pic img{
     transform: scale(1.2);
     
 }
 .dutyWish_common:hover .dutyWish_word{
     transform: translateY(-20px);
     
 }
 .aboutCont{
     display: flex;
    justify-content: space-between;
        align-items: end;
 }
 .aboutCont .right {
    width: 45%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutCont .left{
    width:50%;
}
.aboutCont .left p{margin-bottom:10px;line-height:28px;font-size:16px;}
@media (max-width:990px) {	
    .aboutCont{display:inherit;} .aboutCont .right{display:none;} .aboutCont .left{width:100%;}
}
@media (max-width:1700px) {	
	.subnav{ padding: 50px 10%;}
}

.index-vedio{ height: 100vh; width: 100%;  position: relative;}
.index-vedio video {position: absolute;right: 0;bottom: 0;min-width: 100%;min-height: 100%;background-size: cover;overflow: hidden; }
.index-vedio .container{  position: absolute; top: 50%; transform: translate(-50%,-50%); z-index: 333; left: 50%;}
.vedio-text a{  position: relative;display: inline-block;border: 1px solid #fff;line-height: 44px;padding: 0 40px;font-size: 16px;color: #fff;transition: all .36s ease;     border: 1px solid #005eb8;background: #005eb8; margin-top: 50px;}
.vedio-text h3{ font-size: 74px;line-height: 1;margin: 0 0 30px;color: #fff;text-align: left;font-weight: 600;}
.vedio-text p{ font-size: 44px;letter-spacing: 8px;line-height: 1;margin: 0;color: #fff;text-align: left;}
.vedio-text a:hover {text-indent: -12px;border: 1px solid #005eb8;background: #005eb8;color: #fff;padding: 0 60px;}
.vedio-text a:before {position: absolute;right: 6px;opacity: 0; content: '';line-height: 44px;font-size: 18px;color: #fff;transition: all .36s ease; background: url(../images/arrowbai.png) no-repeat center; background-size: 18px auto; height: 18px; width: 32px; margin-top: 15px;}
.vedio-text a:hover::before{ right: 12px;opacity: 1; }
.index-vedio::before{content: ''; bdisplay: block;position: absolute;z-index: 0;width: 100%;height: 100%;top: 0;background: rgba(0,95,184,1);background: -moz-linear-gradient(left,rgba(0,95,184,1) 0%,rgba(0,95,184,0.57) 40%,rgba(0,95,184,0) 80%);background: -webkit-gradient(left top,right top,color-stop(0%,rgba(0,95,184,1)),color-stop(40%,rgba(0,95,184,0.57)),color-stop(80%,rgba(0,95,184,0)));background: -webkit-linear-gradient(left,rgba(0,95,184,1) 0%,rgba(0,95,184,0.57) 40%,rgba(0,95,184,0) 80%);background: -o-linear-gradient(left,rgba(0,95,184,1) 0%,rgba(0,95,184,0.57) 40%,rgba(0,95,184,0) 80%);background: -ms-linear-gradient(left,rgba(0,95,184,1) 0%,rgba(0,95,184,0.57) 40%,rgba(0,95,184,0) 80%);background: linear-gradient(to right,rgba(0,95,184,1) 0%,rgba(0,95,184,0.57) 40%,rgba(0,95,184,0) 80%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005fb8',endColorstr='#005fb8',GradientType=1); z-index: 33;}



@media (max-width:1300px) {	
	
	.about-box3 .swiper-button-next{  right:10px; height: 40px; width: 40px;}
	.about-box3 .swiper-button-prev{ left:10px; height: 40px; width: 40px;}	
	.about-box4 .swiper-button-next1{ right:10px; background-size: 18px auto;}
	.about-box4 .swiper-button-prev1{ left:10px;  background-size: 18px auto;}
	
	.about-team h3{ font-size: 20px;}
	.about-team .p1{ height:180px;  -webkit-line-clamp: 6;}
	.about-team figcaption{ padding: 25px;}	
	.hexin-box2 ul li{ padding: 30px 40px;}
	.join-box1tu .swiper-slide p{ font-size: 14px;}
	.join-box2 li p{ font-size: 16px;}
	.neibanner .item-text6 .div1{ margin-top: 10px;}
	.neibanner .div1 a {width: 100px;height: auto;font-size: 14px;line-height: 35px; margin: 0px 10px;}
	.vedio-text a{  font-size: 14px;  margin-top: 30px;}
	.vedio-text h3{ font-size: 54px;}
	.vedio-text p{ font-size: 30px;letter-spacing: 3px;}
}

	

@media (max-width:1200px) {	
	.container{ padding: 0 30px;}
	.navbar{ display: none;}
	.bar-btn{ display: block;}
	.header{ height: 50px;}
	.headerwrap{ position: fixed; left: 0; right: 0; z-index: 33;}
	.logo img{ height: 28px;}
	.banner{ margin-top: 50px;}
	.index-sec1 .sec1-text{ right: 20px; padding-top: 50px;}
	.index-sec2 .sec2-text{ left: 20px; right: 20px;}
	.index-sec2 .sec2-text .p2 img{ height: 10px;}
	.index-sec3{ padding: 35px 0 0 0;}
	.neibanner{ margin-top: 50px;}
	
	.index-sec3 .item-text h3{ font-size: 34px;}
	.index-sec3 .item-text p{	font-size: 14px; }
	.index-sec3 .tab-hd ul{ padding-top: 30px;}
	.index-sec4 .item-text{ margin-left: 20px;}
	.cpgn-section{ padding-bottom: 20px;}
	.cpgn-section2 ul{ margin-bottom: 20px;}
	.cpts-section ul{ padding: 0;}
	
	.newspage{ padding: 35px 0;}
	.newscont{ flex-direction: column;}
	.news-left{ flex-grow: 1; width: 100%;}
	.news-left ul,.news-left-title{ display: flex; }
	.news-left ul li{ flex-grow: 1;}
	.news-left ul{ flex-grow: 1;}
	.news-left h3{ font-size: 20px; height: auto; line-height: 1; flex-grow: 1; display: flex; align-items: center; align-content: center; 
	justify-content: center;	max-width: 200px;}
	.news-right{ padding:35px 0 0 0;}
	.news-right li{padding:20px 0; }
	.about-sec1 .a1 img, .about-sec1 .a2 img{ height: 120px;}
	.about-sec1 .left p{ font-size: 14px;}
	.about-sec2 .right p{ font-size: 14px; margin-bottom: 10px;}
	.hexin-box1 li img{ height: 40px;}
	.hexin-box1 strong{ font-size: 25px; padding:15px;}
	.hexin-box1 li p{ font-size: 16px;}
	.hexin-box2 li h3{ font-size: 20px;}
	.join-box1tu .swiper-button-prev, .join-box1tu .swiper-button-next {height: 30px;width: 30px;}
	.index-vedio::before{ z-index: 3;}
}

@media (max-width:1000px) {
	.index-footer .div2{ flex-wrap: wrap;}
	.index-footer .div2-1{ width: 50%;}
	.index-footer .div2-3{ flex-grow: 1; margin-top: 30px;}
	.index-footer .div2 .p2{ padding-left: 0;}
	.copyright{ margin-top: 30px;}
	.neibanner .item-img img{  height: 400px; object-fit: cover;}
	.neibanner .item-text h3{  font-size:30px;}
	.neibanner .item-text p{ font-size: 14px; margin-top: 15px; line-height: 25px; height: 125px; display: -webkit-box; -webkit-box-orient: vertical; text-overflow: ellipsis; -webkit-line-clamp: 5; overflow: hidden;}
	.cpgn-tit h3{ font-size: 26px;}
	.cpgn-tit p{  font-size: 16px; font-weight: lighter; margin: 10px 0 0 0;}
	.cpgn-tit p i{ width: 30px;	height: 2px;  }	
	.cpgn-section ul{ margin-left: -5px; margin-right: -5px;}
	.cpgn-section ul li{ margin-bottom: 20px; width: calc( 100%/5 - 10px); margin-left: 5px; margin-right: 5px;} 	
	.cpts-section li h3{ font-size: 20px;}
	.join-box2 li img{ height: 105px;}
	.index-vedio video{ display: none;}
	.index-vedio{ height: 60vh; background: url(../images/phone-vediobg.png) no-repeat top center; background-size: cover;}
}


@media (max-width:900px) {	
	.title{ background-size: 95%;}
	.title h3{ font-size: 22px;}
	.title p{ font-size: 16px;}
	.index-sec3 .tab-hd img{ height: 40px;}
	.index-sec3 .tab-hd p{ font-size: 15px;}
	.index-sec1 .item-img img{ object-fit: cover; height: 350px;}	
	.index-sec2 .sec2-text{  padding-top: 30px;}
	.index-sec1 .p1{font-size: 24px;  }
	.index-sec1 .p2{font-size: 24px;  }
	.index-sec1 .p3{font-size: 14px;   margin-top: 0px; line-height: 27px; }
	.index-sec2 .p1{font-size: 20px;  }
	.index-sec2 .p2{font-size: 20px;  }
	.index-sec2 .p3{font-size: 14px;   margin-top: 0px; line-height: 27px; }
	.index-sec2 a{ font-size: 14px;}
	.index-sec2 .sec2-text .tu img{ margin-top: 30px;}
	.index-sec2 .item-img img,.index-sec3 .item-img img{ object-fit: cover; height:350px;}
	.index-sec4 .item-text h3{ font-size: 26px; }
	.index-sec4 .item-text p{ font-size: 14px; margin: 10px 0 30px 0;}
	
	.index-sec4,.index-sec5,.index-sec6{ padding: 35px 0 0 0;}
	.index-sec6{ padding-bottom: 35px;}
	.index-sec4 .title,.index-sec6 .title{ margin-bottom: 30px;}
	.index-sec4 .item-img img{ height: 300px; object-fit: cover;}
	.index-sec4 .item-text img{ width: 200px; }
	.index-sec4 .item-text{ margin-left: 20px;}
	.index-sec5 .item-img h3 {font-size: 20px; left: 10px;}
	.index-sec5 .item-img a{ font-size: 14px; left: 10px; background-size: 100px auto; padding-left: 10px; height: auto;}
	.index-sec5 dl{ padding: 10px;}
	.index-sec5 dd:first-child{ padding-bottom: 10px;}
	.index-sec5 dd:last-child{ padding-top: 10px; }
	.index-sec5 ul{ display: flex; margin-left: -8px; margin-right:-8px; margin-top: 30px;}
	.index-sec5 ul li{ width: calc(100%/3 - 16px); margin-left: 8px; margin-right: 8px;}
	.index-sec5 .item-img img{ height: 150px;}	
	.index-sec6 .container p{ font-size: 14px; margin-top: 15px;}
	.cpgn-section ul{ padding-top: 25px;}
	.cpts-section,.about-box3,.about-box4,.hexin-box1,.hexin-box2{ padding: 35px 0;}
	.about-team,.about-box4 .container{ margin-top: 20px;}
	.hexin-box1 ul,.hexin-box2 ul{ margin-top: 30px;}
	.cpts-section ul{ padding: 0;}	
	.cpts-section li{ padding: 15px;}
	.yycj-section{ padding: 35px 0 20px 0;}
	.yycj-section .item-text{ opacity: 1; position: relative; padding: 15px;}
	.yycj-section li h3{ font-size: 20px;}
	
	.join-box2,.join-box1,.join-box3{ padding: 35px 0;}
	.join-box1tu{ margin-top: 0; padding: 50px 0  30px 0;}
	.fenye{ padding-top: 30px;}
/* 	.join-box3 .fenye{ padding-top: 10px;} */
	.cpgn-section ul li img{ height: 40px;}
	.cpgn-section ul li p{ margin-top: 10px; font-size: 14px;}
	.about-sec1,.about-sec2{ padding: 35px 0;}
	.about-sec1 .sec1-cont{ margin-top: 30px;}
	.about-sec2 .left p{ margin-bottom: 0px; margin-top: 10px;}
	.about-sec2 .right{ width: 100%; max-width: 100%;}
	.about-time strong{ font-size: 30px;}
	.join-cont{ margin-top: 30px;}
	.join-left-top{ padding: 0;}
	.join-left-bottom{ padding: 30px 0 0 0;}
	.join-right-cont{ padding: 0;}
	.join-right{ padding-left: 30px;}
	.join-left .fenye a{ display: none;}
	
	.vedio-text a{  font-size: 14px;  margin-top: 20px;}
	.vedio-text h3{ font-size: 34px;}
	.vedio-text p{ font-size: 24px;letter-spacing: 1px;}
}

	
@media (max-width:760px) {
    .fenxi-pt35{position:relative;padding-top:0px}
	.container{ padding: 0 20px;}
	.banner .swiper-slide img{ width: 100%; object-fit: cover; height: 220px;}
	.title h3{ font-size: 18px; line-height: 1.5;}
	.title p{ font-size: 14px; margin-top: 5px;}
	.title h4{ font-size: 16px; margin-top: 5px;}
	.index-footer .div2-1{ width: 100%; margin-bottom: 30px;}
	.index-footer .div2 h4{ font-size: 24px;}
	.index-footer p, .index-footer p a{ font-size: 13px;}
	.index-footer h3{ font-size: 16px;}
	.index-footer { padding-top: 20px}
	.index-footer .div1{ padding-bottom: 20px}
	.neibanner .item-text h3{ font-size: 24px;}
	.cpgn-section{ margin-top: 0; padding:30px 0 0 0;}
	.neibanner .item-img img{  height: 200px; object-fit: cover;}
	.cpts-section li,.cpts-section .ul2 li{width: calc(100%/2 - 12px); padding: 15px 10px;}
	.cpts-section li h3{ font-size: 16px; margin-bottom: 10px; line-height: 1.3;}
	.cpts-section li p{ font-size: 14px; line-height: 1.3;}
	.cpgn-tit h3{ font-size: 22px;}
	.cpgn-tit p{  font-size: 14px; font-weight: lighter; margin: 10px 0 0 0;}
	.index-footer .div2-1{ width: 50%;}
	.hyal-page { padding: 35px 0 10px 0;}
	.hyal-page li{ margin-bottom: 25px;}
	.hyal-page li a{ padding: 10px;}
	.hyal-page li h3{ font-size: 18px; height: 45px; line-height: 45px; width: 100%; margin-bottom: 25px;}
	.hyal-page li .item-img,.news-right li figure{ width:120px; height: 80px;}
	.hyal-page li .item-text{ padding-top: 5px; padding-left: 10px;}
	.hyal-page li h4{ font-size: 16px;}
	.hyal-page li p{ height: 20px;     -webkit-line-clamp: 1;}
	.hyal-page li span{ font-size: 12px;}
	
	 .news-left-title{ flex-direction: column;}
	.news-left h3{ font-size: 18px; display: flex; align-items: center; align-content: center;
	justify-content: center;	width: 100%; max-width: 100%; height: 45px;}
	.news-left li span{ font-size: 15px;}
	.news-left ul li p{ text-align: center; padding-right: 0;}
	.news-right h3{ font-size: 20px; margin-bottom: 15px;}
	.news-right li figcaption{ padding-left: 10px; height: 80px; padding-top: 5px;}
	.news-right li h4{ margin-bottom: 5px; font-size: 16px;}
	.news-right li p{ -webkit-line-clamp: 1;  height: 24px;}
	
	.cpgn-section ul{ margin-left: -10px; margin-right: -10px;}
	.cpgn-section ul li{ margin-bottom: 20px; width: calc( 100%/3 - 20px); margin-right: 10px; margin-left: 10px;}	
	.about-sec1 .sec1-cont{ flex-direction: column; margin-top: 10px;}
	.about-sec1 .sec1-cont .left{ width: 100%; max-width: 100%; margin-bottom: 20px;}
	.about-sec1 .sec1-cont .right{ padding-left: 0;}
	
	.about-sec1 .sec1-cont img{ display: block; width: 100%; height: auto; }
	.about-sec2 .sec2-cont img{ display: block; width: 100%; height: auto; }
	.about-sec2 .sec2-cont {flex-direction: column;margin-top: 10px;}
	.about-sec2 .right{ margin-left: 0; margin-top: 20px;}
	.hexin-box2 ul li{ padding: 20px;}
	.hexin-box2 li h3{ font-size: 16px;}
	.hexin-box2 li p,.hexin-box1 li p{ font-size: 14px;}
	.hexin-box1 ul li{ padding: 0 10px;} 
	.join-box2 li img{ height: 80px;}
	.join-cont{ flex-wrap: wrap; flex-direction: column;}	
	.join-right{ width: 100%; max-width: 100%; flex-grow: 1; margin-top:30px; padding-left: 0;}
	.join-right-title{ margin-bottom: 20px;}
	.join-right-cont li a{ padding-bottom: 10px;}
	.join-left-bottom li h4{ padding: 10px 0;}
	.about-box4 .swiper-button-next1,.about-box4 .swiper-button-prev1 {right: 10px;background-size: 12px auto;}
	.fenye span, .fenye a {padding: 0 10px;text-align: center;}
	
	.dutyWish{display: inherit;}
    .dutyWish_common{width:100%;}
    .dutyWish_common>div:nth-child(2){height:auto!important;}
    .dutyWish_right>div:nth-child(2)>p:nth-child(1) {
    color: rgb(5,69,167);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.dutyWish_right>div:nth-child(2)>p:nth-child(2) {
    color: rgb(5,69,167);
    letter-spacing: 1px;
    font-size: 14px;
}
.dutyWish_right>div:nth-child(2)>p:nth-child(3) {
    color: rgb(5,69,167);
    letter-spacing: 1px;
    font-size: 14px;
}
.dutyWish_right>div:nth-child(2)>p:nth-child(4) {
    color: rgb(5,69,167);
    letter-spacing: 1px;
    font-size: 14px;
}
.dutyWish_left>div:nth-child(2)>p:nth-child(1) {
    color: rgb(62,58,57);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.dutyWish_left>div:nth-child(2)>p:nth-child(2) {
    color: rgb(62,58,57);
    font-size: 14px;
    letter-spacing: 1px;
}
}



@media (max-width:520px) {	
	.about-box3 .container{ padding: 0;}
	.container{ padding: 0 15px;}
	.index-sec1 .p1{font-size: 18px;  }
	.index-sec1 .p2{font-size: 18px;  }
	.index-sec1 .sec1-text,.index-sec2 .sec2-text{ position: relative; padding-bottom: 30px; right: 0; padding-top: 30px;}
	.index-sec2 .sec2-text{  left: 0; right: 0; padding-bottom: 0;}
	.index-sec1 .item-img img{ height: 200px;    object-fit: cover;}
	.index-sec2 .item-img img{ display: none;}
	.index-sec3 .tab-hd ul{ padding-top: 30px;}
	.index-sec3 .item-text h3{ font-size: 20px; }
	.index-sec3 .tab-hd li{ width: calc(100%/3); padding: 10px 0;}
	.index-sec3 .tab-hd p{ margin-top: 5px;}
	.index-sec3 .item-img img{ height: 240px;}
	.index-sec4 .item-img{ display: flex; justify-content: flex-end;}
	.index-sec4 .item-img img{ display: block; width: initial; height: 300px; }
	.index-sec4 .item-text{ margin-left: 0px; left: 0; padding: 0 15px; max-width: 100%;}
	.index-sec4 .item-text h3{ font-size: 22px; }
	.index-sec4 .item-text p{ font-size: 14px; }
	.index-sec4 .item-text a,.index-sec3 .item-text a{ font-size: 14px;  padding-left: 10px; line-height: 38px;}
	.index-sec5 ul{ flex-wrap: wrap; margin-left: -5px; margin-right: -5px;}
	.index-sec5 ul li{ width: calc(100%/2 - 10px); margin-bottom: 10px; margin-left: 5px; margin-right: 5px;}		
	.yycj-section ul{ flex-wrap: wrap; margin-left: -5px; margin-right: -5px; margin-top: 30px;}
	.yycj-section li{width: calc(100%/2 - 10px); margin-left: 5px; margin-right: 5px;}
	.yycj-section li:last-child{flex-grow: 1; }

	.index-footer .div2 div{ width: 100%;}
	
	
	.index-footer .code-div h3 img{ height: 24px;}
	
	/* .neibanner .container{ top: 30px; transform: translate(-50%,0);} */
	.neibanner .item-text,.neibanner .item-text1{ justify-content: center; align-items: center;}
	.neibanner .item-text h3{ font-size: 18px; text-align: center;}
	.neibanner .item-text p{ font-size: 14px; height: 100px;    -webkit-line-clamp: 4; text-align: center;}
	.fenye a{ display: none;}	
	.fenye span, .fenye a{ padding: 0 10px;  text-align: center;}
	.cpts-section .ul3 li:last-child{ flex-grow: 1;}
	.cpts-section ul.ul2-1 li:last-child{flex-grow: 1;}
	
	.about-box3 .swiper-button-next{ height: 30px; width: 30px;}
	.about-box3 .swiper-button-prev{ height: 30px; width: 30px;}
	.about-team h3{ font-size: 16px;}
	.about-team h5{ font-size: 14px;}
	.about-team .p1{ height: 120px;     -webkit-line-clamp: 4; font-size: 13px;}
	.about-time strong {font-size: 20px; line-height: 1.2; padding-bottom: 20px;}
	.hexin-box1 ul{ flex-wrap: wrap; justify-content: center; margin-bottom: -20px;}
	.hexin-box1 ul li{ width: 50%; margin-bottom: 20px;}
	.hexin-box1 ul li{ border-right: none;}	
	.hexin-box2 ul li{ width: 100%; }
	.join-box2 ul{ flex-wrap: wrap; justify-content: center; padding-bottom: 0; 
	padding-top: 30px;}
	.join-box2 li{ width: 33%; margin-bottom: 20px;}
	.join-box2 li img{ height: 60px;}	
	.join-box2 li p{ font-size: 15px;}
	.join-left .fenye span, .join-left .fenye a{ padding: 0 10px;}
	.neibanner .item-text6 h3{ margin-bottom: 10px;}
	.join-box1{ padding-bottom: 10px;}
	.index-sec5 ul li:last-child{ flex-grow: 1; width: 100%;}
	.vedio-text{ padding: 0 20px;}
	.vedio-text a{  font-size: 14px;  margin-top: 20px; padding: 0 25px; line-height: 40px;}
	.vedio-text a:before{ margin-top: 12px;}
	.vedio-text h3{ font-size: 24px; margin-bottom: 20px;}
	.vedio-text p{ font-size: 16px;letter-spacing: 1px; }
	.code-div .info .erweima{border: none !important;}
}


@media (max-width:320px) {	
	.vedio-text p{ font-size: 14px;letter-spacing: 0px; line-height: 26px;}
}

/* 新增 */

.newindex-sec1{ background: url(../images/newindexbg1.png) no-repeat top center; background-size: cover; padding: 200px 0;}
.newindex-sec1 .p1{ color: #0545a7;  font-size: 36px; }
.newindex-sec1 .p2{ color: #0545a7;  font-size: 36px; font-weight: bold; margin-top: 5px; margin-bottom: 15px;}
.newindex-sec1 .p3{ color: #555; font-size: 18px; line-height: 40px; font-weight: lighter;}
.newindex-sec1 a{ display: block; font-size: 14px; color: #0545a7; background-size: 100% auto;
background: url(../images/newmorebg2.png) no-repeat center ; width: 119px;	height: 32px; text-align: center; line-height: 28px; margin-top: 30px; transition: all 0.6s;} 	
.newindex-sec1 a{ transform: translateX(10px); transition: all .36s ease;}	
	
.newindex-sec1 a:hover{width: 200px;  background: none; border: 1px solid #0545a7; border-radius: 30px;}	
	
	
.newindex-sec2wrap{ background: #F5F5F5; padding-top: 80px;}	
.newindex-sec2wrap .title{margin-bottom: 80px; }
.newindex-sec2wrap .title h3{ line-height: 1.4; }	
.newindex-sec2{ background: url(../images/newindexbg2.png) no-repeat top center; background-size: cover; height: 580px;}
.newindex-sec2 .tab-hd li{ flex-grow: 1; width: calc(100%/6); height: 440px; border-right: 1px solid rgba(255,255,255,0.2);
transition: all 0.5s; background: rgba(0,0,0,0.1);}
.newindex-sec2 .tab-hd li:first-child{ border-left: 1px solid rgba(255,255,255,0.2);}
.newindex-sec2 .tab-hd li img{ display: block; max-width: 100%; height: auto; transition: all 0.5s;}
.newindex-sec2 .tab-hd li{ display: flex; flex-direction: column; justify-content: center; align-items: center; }
.newindex-sec2 .tab-hd li p{ color: #ffffff;	font-size: 18px; margin-top: 10px;transition: all 0.5s; text-align: center;}
.newindex-sec2 .tab-hd li.on,.newindex-sec2 .tab-hd li:hover{ background: #0545a7;}
.newindex-sec2 .tab-hd li.on img,.newindex-sec2 .tab-hd li:hover img{ transform: translateY(-20px);}
.newindex-sec2 .tab-hd li.on p,.newindex-sec2 .tab-hd li:hover p{ transform: translateY(25px);}


.newindex-sec2 .tab-hd{ display: flex;}
.newindex-sec2wrap .tab-pal{ display: none;}
.newindex-sec2wrap .tab-pal.on{ display: block;}
.newindex-sec2wrap .tab-bd{ margin-top: -140px;  background: #fff;}
.newindex-sec2wrap .tabcont{ display: flex; justify-content: space-between; padding: 50px;  align-items: center;}
.newindex-sec2wrap .pal-left{ width: 70%; padding-right: 20px;}
.newindex-sec2wrap .pal-right{ width: auto; margin-left: auto; transition: all 0.5s;}
.newindex-sec2wrap .pal-right img{ display: block; height: auto; max-width: 100%;}
.newindex-sec2wrap .pal-left .p1{ color: #0545a7; font-size: 36px; line-height: 1.2;}
.newindex-sec2wrap .pal-left .p2{ color: #3e3a39; font-size: 18px; line-height: 36px; font-weight: lighter; margin-top: 15px;}
.newindex-sec2wrap .pal-left a{ display: block; font-size: 14px; color: #0545a7; background-size: 100% auto;
background: url(../images/newmorebg2.png) no-repeat center ; width: 119px;	height: 32px; text-align: center; line-height: 28px; margin-top: 30px; transition: all 0.5s;}
.newindex-sec2wrap .pal-left a:hover{ transform: translateX(20px);}
.newindex-sec2wrap .pal-right:hover{ transform: translateX(-20px);}

.index-sec5{ background: #f5f5f5;}

@media (max-width:1600px) {	
	.newindex-sec1{ padding:140px 0;}	
		
		
}
@media (max-width:1500px) {	
	.newindex-sec1{ padding:100px 0;}		
		
}
@media (max-width:1200px) {	
	.newindex-sec1{ padding:80px 0;}		
	.newindex-sec2{ height: auto;}
	.newindex-sec2 .tab-hd{ flex-wrap: wrap;}
	.newindex-sec2 .tab-hd li {width: calc(100%/3);height: auto;border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2); padding: 20px;}
	.newindex-sec2 .tab-hd li:first-child{ border-left: none;}
	.newindex-sec2wrap .container{ padding: 0;}
	.newindex-sec2 .tab-hd li:nth-child(3n){ border-right: none;}
	.newindex-sec2wrap .tab-bd{ margin-top: 0;}
	.newindex-sec2 .tab-hd li p{font-size: 16px}
	.newindex-sec2wrap .pal-left .p1{ font-size:20px}
	.newindex-sec2wrap .pal-left .p2{ font-size: 14px; line-height: 30px;}
	.newindex-sec2wrap .tabcont{ padding: 30px;}
	.newindex-sec2wrap{padding-top: 50px;}
	.newindex-sec2wrap .title{ margin-bottom: 50px;}
}
@media (max-width:1000px) {	
	.newindex-sec1 .p1,.newindex-sec1 .p2{font-size: 20px}		
	.newindex-sec1 .p3{ font-size: 16px; line-height: 30px;}
	.newindex-sec2 .tab-hd li{ padding: 20px 10px;}
	.newindex-sec2 .tab-hd li.on img{  transform: translateY(-5px);}
	.newindex-sec2 .tab-hd li.on p{  transform: translateY(5px);}
}

@media (max-width:640px) {	
	.newindex-sec1{ padding:50px 0;}	
	.newindex-sec1 .p1,.newindex-sec1 .p2{font-size: 22px}	
	.newindex-sec1 .p2{ margin-top: 0; margin-bottom: 10px;}
	.newindex-sec1 .p3{ font-size: 15px; line-height: 30px;}
	.newindex-sec2wrap .tabcont{ flex-wrap: wrap; padding: 20px 15px;}
	.newindex-sec2wrap .pal-right{ width: 100%}	
	.newindex-sec2wrap .pal-left{ width: 100%;}
	.newindex-sec2wrap .pal-right img{ display: block; margin: 0 auto;}
	.newindex-sec2wrap{padding-top: 30px;}
	.newindex-sec2wrap .title{ margin-bottom: 30px;}
	.newindex-sec2 .tab-hd li p{font-size: 14px}
	.newindex-sec2wrap .pal-left a{ margin-top: 20px;}
}


.code-div .info {position: relative;}
.code-div .info .erweima{display: none; position: absolute; top: -100px; right: -38; z-index: 25; border: 1px solid #d8d8d8;}
.code-div .info .erweima img{height:85px;}